/**********
* GENERAL *
**********/

/*FONTS*/

@font-face {
    font-family: Nanum_Gothic_Coding;
    src: url("./../fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf");
}

@font-face {
    font-family: Nanum_Gothic_Coding_Bold;
    src: url("./../fonts/Nanum_Gothic_Coding/NanumGothicCoding-Bold.ttf");
    font-weight: bold;
}

/*GENERAL*/

* {
    font-family: Nanum_Gothic_Coding, Avenir, sans-serif;
    color: #02132e;
}

html {
    background-color: #4e749c25;
}

body.container {
    /* default bootstrap -> max-width: 1320px; */
    background-color: #4e749c11;
}

#html2image {
    display: none;
}

/*TITLES, HYPERLINKS ...*/

h1,
h3 {
    font-weight: bold;
    color: #4E749C;
}

h2 {
    font-weight: bold;
    color: #e9621ec2;
}

h2 {
    margin: 30px 0 15px 0;
}

h4 {
    color: #4E749C;
}

a {
    text-decoration: none;
    color: #e9621ec2;
}

a:hover {
    color: #4E749C;
}

/***********
* SECTIONS *
************/

/*HEADER*/

#contact-header {
    font-weight: bold;
    background-size: cover;
    background-repeat: no-repeat, repeat;
    /* background-image: url("./../images/bg2.jpg"); */
    /* background-color: rgba(255, 255, 255, 0.25); */
}

#contact-header img {
    margin: 15px 0 15px 0;
    max-width: 125px;
    height: 125px;
    max-height: 125px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 10px #777;
    border-radius: 50%;
}

/*CONTACT DETAIL*/

#contact-detail {
    /* background-color: rgb(46, 45, 45); */
}

#social-icons img {
    /* For dark mode - turn black to white */
    /* filter: invert(1); */
    max-width: 50px;
    max-height: 50px;
    margin: 0 10px 0 10px;
}

#contact-detail ul {
    padding: 0;
    list-style-type: none;
}

.progress {
    background-color: #a7a7a7;
    border-radius: 12px;
    margin: 20px;
    height: 30px;
}

.progress-bar {
    background-color: #4E749C;
    border-radius: 12px;
    margin: 3px;
    font-size: 18px;
}

.date {
    font-style: italic;
}

/*EXPERIENCE*/

#experiences-formations ul {
    list-style: none;
    padding: 0;
}

.job-description li {
    display: inline;
}

.job-description img {
    max-width: 100%;
}

.experience-description ul li::before {
    content: "\>";
    color: #4E749C;
    font-weight: bold;
    display: inline-block;
    width: 2em;
    margin-left: -1em;
    padding: 0 1em 0 1em;
}

.experience-box {
    box-shadow: #4e749c80 0px 30px 40px -2em inset;
    padding-top: 15px;
    margin-bottom: 15px;
}

.experience-box img {
    margin-bottom: 10px;
    /* width: 75px;
    max-width: 75px; */
    height: 50px;
}

.experience-box hr {
    border-top: 2px solid #e9621ec2;
    opacity: 1;
}

.job-description {
    border-right: 3px dotted #e9621ec2;
}

.job-description h4 {
    font-size: 20px;
    font-weight: bold;
}

/*EDUCATION*/

.education-box h5 {
    color: #4E749C;
    font-weight: bold;
}